<section class="about text-center bg-gray-100">
    <div class="about__text container-text">

        <div class="title-1">Lernen Sie uns kennen </div>
        <div class="about__icon">
            <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="35.5" cy="35.5" r="35.5" fill="#125472" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 35.5V71H37.0106L0 35.5Z" fill="#125472" />
                <path d="M20 41.2H26.5L22.1666 50H28.6666L33 41.2V28H20V41.2Z" fill="white" />
                <path d="M37 28V41.2H43.5L39.1666 50H45.6666L50 41.2V28H37Z" fill="white" />
            </svg>
        </div>
        <div class="decr">
            <p> „Meine Kollegen <b>Aaron, Jonathan, Woael</b> und <b>Viktoria </b> gehören alle in die
                Personal-Trainer-Champions-League, <br>
                wenn es denn so etwas gäbe.</p>

            <p> Ich denke es zählt zu Meinungsfreiheit, wenn ich hier schreibe, dass sie in meinen Augen zu den 1
                Dutzend
                besten Trainern des Landes gehören, wenn es um ihr Fachgebiet geht. Trainer wie sie findet man wirklich
                selten. Einer ist besser als der andere und dieses Kompliment können die Vier ruhig lesen und annehmen.
            </p>
            <p>
                Es ist kommt von mir, Cihad, dem es eine Ehre ist mit euch zusammen arbeiten zu dürfen."</p>
        </div>
        <div class="about__img">
            <img src="static/images/content/man.jpg" alt="">
            <span>A. Cihad </span>
        </div>
        <a class="btn" href="#">Mehr erfahren</a>
    </div>
</section>