<div class="sandwich">
<div class="sandwich__line sandwich__line--top"></div>
<div class="sandwich__line sandwich__line--middle"></div>
<div class="sandwich__line sandwich__line--bottom"></div>
</div>