<div class="counter"><input class="counter__input" value="1" />
<div class="counter__actions"><button class="counter__btn counter__btn" data-direction="plus">+</button><button class="counter__btn counter__btn" data-direction="minus">-</button></div>
</div>