// Colors
$white: #fff;
$black: #000;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$default-font: 'Open Sans', sans-serif;
$base-font-size: 16px;
$title-font: "Oswald", sans-serif;

// transition
$trans: .3s ease-in-out;